body{
    margin: 50px 0;
    padding:0;
    font-family: "Roboto Slab", serif;
    background: #406D8D;
    font-size: 30px;
    align-items: center;
}
img{
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 100%;
    height: 200px;
    background-color: #7DADD3;
    color: #fdffff;
    margin: -5% auto 2em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    border-radius: 10px;
    background: white;
    width: 300px;
    height: 65px;
    margin: 5% 17% 2em;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}
div1{
    border-radius: 10px;
    background: white;
    width: 300px;
    height: 65px;
    margin: 2.5% 17% 2em;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}
div2{
    border-radius: 10px;
    background: white;
    width: 300px;
    height: 65px;
    margin: -25% 60% 2%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}
div3{
    border-radius: 10px;
    background: white;
    width: 300px;
    height: 65px;
    margin: -12% 60% 2%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}
:root {
    --color-green: #00a878;
    --color-red: #fe5e41;
    --color-button: #fdffff;
    --color-black: #000;
}
/* boton 1 */
.switch-button {
    display: inline-block;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
}