<!DOCTIPE html>
<html lang="en" dir= "ltr">
<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animaciones cronometradas</title>
    <Link rel="stylesheet" href ="../Style/style.css">
    <link rel="shortcut icon" href="../tools/img.png">
</head>
<body>
<form class="box" method="post">
    <img src="../tools/animation1.gif">
    <h1>ANIMACIONES <br>
        CRONOMETRADAS</h1>
</form>
<div class="switch-button">
    <label>00:15:00</label>
    <!-- Checkbox -->
    <input type="checkbox" name="switch-button" id="switch-label" class="switch-button__checkbox">
    <!-- Botón -->
    <label for="switch-label" class="switch-button__label"></label>
</div>
<div1 class="switch-button">
    <label>00:30:00</label>
    <!-- Checkbox -->
    <input type="checkbox" name="switch-button" id="switch-label1" class="switch-button__checkbox">
    <!-- Botón -->
    <label for="switch-label1" class="switch-button__label"></label>
</div1>
<br>
<div2 class="switch-button">
    <label>00:20:00</label>
    <!-- Checkbox -->
    <input type="checkbox" name="switch-button" id="switch-label3" class="switch-button__checkbox">
    <!-- Botón -->
    <label for="switch-label3" class="switch-button__label"></label>
</div2>
<div3 class="switch-button">
    <label>00:10:00</label>
    <!-- Checkbox -->
    <input type="checkbox" name="switch-button" id="switch-label4" class="switch-button__checkbox">
    <!-- Botón -->
    <label for="switch-label4" class="switch-button__label"></label>
</div3>
</body>
</html>